@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#e7e7e3;
}

.icon a {
    color: black;
}

.nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 10px;
    margin-top: 23px;
    width: 1200px;
    margin-left: 50px;
    border: none;
    border-radius: 20px;
    
}

ul.text {
    display: flex;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 2rem;
    margin-left: -50px;
    align-items: center;
    
}
#li{
    margin-top: -10px;
}
li {
    list-style: none;
    align-items: center;
}

li.men {
    margin-top: -10px;
    
}

li.women {
    margin-top: -10px;
    align-items: center;

}

ul.icon {
    display: flex;
    

}

.fa-caret-down {
    font-size: 12px;
}

img {
    margin-top: 10px;
}

.icon {
    margin-top: 20px;
    gap: 2rem;
}

.fa-0 {
    background-color: #ffa52f;
    padding: 8px;
    margin-top: -20px;
    border-radius: 50px;
    font-size: 12px;
}

h1 {
    text-align: center;
    font-family: 'Rubik';
    font-size: 200px;
}

h1 span {
    color: #ffa52f;

}

img.a {
    background-size: cover;
    background-position: center;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
}

.h1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.h1 button {
    margin-right: 190px;
    width: 200px;
    height: 40px;
    margin-top: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.h1 h1 {
    font-size: 30px;
    margin-left: 190px;
    margin-top: 30px;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
}

.container img {
    /* border: 8px solid #fafafa; */
    background-color: palegoldenrod;
    border-radius: 20px;
    height: 300px;
}

.container p {
    font-family: "Rubik", serif;
    font-weight: 600;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

.container button {
    background-color: black;
    border: none;
    margin-top: 30px;
    width: 280px;
    color: white;
    height: 40px;
    border-radius: 8px;
}

.container button span {
    color: #ffa52f;
}

#btn {
    background-color: #ffa52f;
    height: 40px;
    width: 60px;
    position: absolute;
    border: none;
    margin-left: 66px;
    margin-top: 60px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 28px;
    color: white
}

#bttn {
    background-color: #ffa52f;
    height: 40px;
    width: 60px;
    position: absolute;
    border: none;
    margin-left: -531px;
    margin-top: 60px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 28px;
    color: white;
    margin-top: 10px;
}

#btnn {
    background-color: #ffa52f;
    height: 40px;
    width: 60px;
    position: absolute;
    border: none;
    margin-left: 90px;
    margin-top: 60px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 28px;
    color: white;
    margin-top: 10px;
}

#btnnn {
    background-color: #ffa52f;
    height: 40px;
    width: 60px;
    position: absolute;
    border: none;
    margin-left: 713px;
    margin-top: 60px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 28px;
    color: white;
    margin-top: 10px;
}

.cata {
    background-color: black;
    margin-top: 50px;
}

.catagories h1 {
    color: white;
    font-size: 50px;
    margin-left: -850px;
    padding-top: 30px;
}

.catagories i {
    width: 95%;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;


    /* gap: 20px; */

}

.fa-less-than {
    margin-top: 10px;
    position: absolute;
    margin-left: -50px;
    /* background-color: gray; */
    width: 10px;
}

.cata img {
    border-top-left-radius: 30%;
    height: 500px;
    margin-left: 90px;
}

h3 {
    color: black;
    position: absolute;
    margin-top: 400px;
    font-family: 'Rubik';
    margin-left: 120px;
    letter-spacing: 1px;
    margin-top: -70px;
}

.fa-arrow-up-right-from-square {
    position: absolute;
    color: white;
    margin-top: -70px;
    margin-left: 390px;
    font-size: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.img {
    height: 50px;

    width: 100%;

}

#img {
    height: 600px;
    width: 90%;
    margin-left: 75px;
    margin-top: 50px;
}

.header h1 {
    margin-top: 700px;
    color: black;
    font-size: 50px;
    margin-left: 80px;
}

.header {
    display: flex;
    justify-content: center;
}

.header button {
    width: 100px;
    height: 40px;
    background-color: #ffa52f;
    margin-left: 800px;
    margin-top: 700px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

reviews {
    display: flex;
}

.reviews img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 200px;
}

.reviews b {
    font-family: "Rubik", serif;
    padding-top: 40px;
    margin-left: 0px;
}

p.text {
    font-family: "Rubik", serif;
    margin-top: -20px;
    font-size: 11px;
}

.div {
    background-color: #fafafa;
    width: 280px;
    height: 120px;
    padding-left: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.diver {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5%;
}

.img-img img {
    width: 320px;
    margin-top: -10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.flexing {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

b {
    margin-top: -8px;
    position: absolute;
}

.orange h1 {
    font-size: 50px;
}

.kicker {
    background-color: rgb(255, 165, 47);
    margin-top: 10%;
    height: 820px;
}

h2.kicks {
    color: #fafafa;
    padding-top: 50px;
    font-size: 40px;
    margin-left: 90px;
}

p.p {
    margin-left: 20%;
    margin-top: 20px;
    font-size: 25px;
    color: #fafafa;
    font-family: "Rubik", serif;
    ;
}

input.input {
    margin-left: 20%;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    /* padding: 12px; */
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    outline: none;
}

button.submit {
    background-color: #000;
    width: 100px;
    border: none;
    margin-top: 32px;
    margin-left: 10px;
    cursor: pointer;
}

::placeholder {
    color: #fff;
    padding: 10px;
}

.input {
    display: flex;
}

footer {
    background-color: #000;
    margin-top: 5%;
    height: 72vh;
    border-radius: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 5rem;
    justify-content: space-around;
    margin-top: 5%;
}

.contact-box {
    color: rgb(255, 165, 47);
    font-family: "Rubik", serif;
    margin-top: 5%;
}

.contact-box li {
    margin-top: 10px;
}

.contact-box li a {
    display: flex;
    color: #999999;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: all .50s ease;
}

.contact-box li a:hover {
    transform: translateX(7px);
    color: palevioletred;

}

.contact-box h5 {
    font-size: 16px;
    font-weight: 600;
    color: #272829;
}

.contact-box h5 {
    font-size: 18px;
    /* font-weight: 600; */
    align-items: center;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.social {
    display: flex;
    margin-top: 30px;
}

.social i {
    height: 17px;
    width: 37px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 20px;
    color: white;
}

.paste {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.Group img {
    width: 300px;
    margin-right: 90px;
    margin-top: 50%;
}

img.kickes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
}
button.submit{
    color: wheat;
    border-radius: 10px;
}